<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops..</title>
</head>
<body>
    <hgroup>
        <div style="margin-top:200px; margin-left:150px">
            <h1><span style="color:#26a69a">Oops..!</span> Something went wrong.</h1>
            <h3>An error occurred while processing your request.</h3>
            <h4>Try reloading the screen or go on the back page.</h4>
        </div>
    </hgroup>
</body>
</html>
