@{
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">MoWizz</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#projects">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">MoWizz</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Get tailored movie experience.</h2>
            <a href="#signup" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Tailored Experience</h2>
                <p class="text-white-50">
                    Based on your social networking activity data, we are able to create a premium movie experience. No more time spent browsing for the film to watch in rainy Sunday afternoon, let us do that for you.
                    <a href="#signup" class="js-scroll-trigger">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-gray">
    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-newspaper fa-5x text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0 mb-4">News</h4>
                        <div class="text-black-50">Read latest stories about movies you like.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-dollar-sign fa-5x text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0 mb-4">FREE</h4>
                        <div class="text-black-50">Our service will always remain completely free.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-pie fa-5x text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0 mb-4">DATA</h4>
                        <div class="text-black-50">All you need to do is browse! Spend time on your social networks to make our predictions more accurate.</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Featured Project Row -->
        @*<div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/Images/bg-masthead.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Shoreline</h4>
                        <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                    </div>
                </div>
            </div>*@

        <!-- Project One Row -->
        @*<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Images/demo-image-01.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Misty</h4>
                                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <!-- Project Two Row -->
        @*<div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Mountains</h4>
                                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Start browsing</h2>

                <div>
                    <div class="social d-flex justify-content-center twitter">
                        <a class="mx-2">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="mx-2" id="btnFacebookLogin">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="mx-2" id="btnGoogleLogin">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
@*<section class="contact-section bg-black">
        <div class="container">

            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </div>
    </section>*@

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; MoWizz 2018
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="~/Scripts/grayscale.js"></script>


@*Google Auth*@
<script src="Scripts/GoogleAuthentication.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getAccessToken();

        $('#btnGoogleLogin').click(function () {
            console.log("loglog")
            window.location.href = "/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A44316%2F&state=0M3Y_Vcd9josAb6LHqta_D3x8GkK0R2TSoDFaaDmowM1";
        });

        $('#btnFacebookLogin').click(function () {
            window.location.href = "/api/Account/ExternalLogin?provider=Facebook&response_type=token&client_id=self&redirect_uri=https%3A%2F%2Flocalhost%3A44316%2F&state=2RVY4KXLCCLS03g3ha_XaEKZjxJOO8FNFbVd2xi4FJY1";

        });

        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

    });
</script>